.input {
  border: none;
  outline: none;
  text-align: center;
}
.transaction td:first-child input {
  width: 80px;
}
.saveBtn {
  border: 1px;
  background-color: #f9f9f9;
  padding: 5px 10px;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: #282828;
    color: #fff;
  }

  &:active {
    background-color: #282828;
    color: #fff;
  }
}
.time {
  font-size: 16px;
}
.report {
  height: 400px;
  width: 400px;
}
.QR {
  margin: 0 10px;
  max-height: 200px;
}
.info {
  display: flex;
}
.input-hotel-check {
  cursor: pointer;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  padding: 30px;
  border: 1px solid rgba(0, 0, 15, 0.22);
}
.modal p {
  text-align: center;
  font-size: 19px;
  font-style: italic;
  margin-bottom: 30px;
}