.authButton {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  &--btn {
    border: 1px;
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: #282828;
      color: #fff;
    }

    &:active {
      background-color: #282828;
      color: #fff;
    }
  }
}
.check-date-inputs {
  display: flex;
  margin-bottom: 21px;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 10px;
}
.submit-h3 {
  font-weight: normal;
  font-size: 15px;
}
.check-date-input {
  display: flex;
  gap: 10px;
}
.check-date-input input {
  max-width: 200px;
  outline: none;
  border: none;
  border-bottom: 1px solid #0000001f;
}
.check-date-input label {
  min-width: 50px;
  font-size: 15px;
}
.input-p {
  font-size: 16px;
}
.check-date-inputs {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.45);
}
.check-date-inputs p strong {
  font-weight: bold;
}