.roomItem, .roomItemContent__info {
  display: flex;
  flex-direction: column;
}
.roomItemContent {
  display: flex;
}
.roomItemContent__book {
  margin-left: 10px;
}
.roomItem {
  padding: 10px 15px;
  background-color: rgba(6, 15, 22, 0.05);
  border-radius: 4px;
  margin-bottom: 10px;
}
.roomItemContent {
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.roomItem:last-child {
  margin-bottom: 0;
}