.diagram-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diagram {
  max-width: 500px;
}
.diagram-header {
  text-align: center;
  margin-bottom: 20px;
}
