.reviews-block {
  margin-top: 50px;
  margin-bottom: 20px;
  max-height: 300px;
  overflow-y: auto;
}
.reviews-block span {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
