.root {
  margin-top: 70px;
  margin-bottom: 40px;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 35px;
      line-height: 33px;
      height: 35px;
      border: 1px solid #564ffa38;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      color: #564ffa;
      display: inline-block;
      &:hover {
        background-color: #564ffa;
        color: #fff;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #ff6767;
        color: #fff;
      }
    }
  }
}
.paginate-root li.selected a {
  display: block;
  background-color: #564ffa;
  color: #fff;
  transition: .2s;
}